/* You can add global styles to this file, and also import other style files */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(159, 116, 228);
    text-align: center;
    color: rgb(48, 181, 221);
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
